<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <style>
    </style>
  </head>
  <body>
    <ul>
      <li>以下のリンクをブラウザにブックマークレット登録すると、既存のGyazo画像の上に簡単に楽ギャキできます
      <li><a href="javascript:var%20a=location.href.match(/gyazo.com\/([0-9a-f]{32})/i);if(a)location.href='http://gyaki.com/<%= @id %>/'+a[1];">Gyazo画像をGyakiで編集</a>
    </ul>
  </body>
</html>



  </body>
</html>



